#root {
  margin: 0;
}

.App {
  height: 100vh;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;

  text-align: center;
}

.buttons button {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-right: 5px;
}

.point {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: red;
}
